# Local development default. Set this to the public Laravel API URL in deployment.
NEXT_PUBLIC_API_URL=https://api.nobodyderm.my.id/api
NEXT_PUBLIC_MIDTRANS_ENABLED=true
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=Mid-client-GenKUM_SsINcJM_S
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=true
